SendPDFtoWebService/Web References/SendPdfToWebService/SendFaxGateway.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.childmaintenance.gsi.gov.uk/futurescheme/outboundCorrespondence/faxgateway/1.0" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/outboundCorrespondence/faxgateway/1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/outboundCorrespondence/faxgateway/1.0">
      <s:element name="CaptureFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="faxNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DocumentContent" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CaptureFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CaptureFileResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendFAX">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="faxNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DocumentContent" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendFAXResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendFAXResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CaptureFileSoapIn">
    <wsdl:part name="parameters" element="tns:CaptureFile" />
  </wsdl:message>
  <wsdl:message name="CaptureFileSoapOut">
    <wsdl:part name="parameters" element="tns:CaptureFileResponse" />
  </wsdl:message>
  <wsdl:message name="SendFAXSoapIn">
    <wsdl:part name="parameters" element="tns:SendFAX" />
  </wsdl:message>
  <wsdl:message name="SendFAXSoapOut">
    <wsdl:part name="parameters" element="tns:SendFAXResponse" />
  </wsdl:message>
  <wsdl:portType name="SendFaxGatewaySoap">
    <wsdl:operation name="CaptureFile">
      <wsdl:input message="tns:CaptureFileSoapIn" />
      <wsdl:output message="tns:CaptureFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendFAX">
      <wsdl:input message="tns:SendFAXSoapIn" />
      <wsdl:output message="tns:SendFAXSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SendFaxGatewaySoap" type="tns:SendFaxGatewaySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CaptureFile">
      <soap:operation soapAction="http://www.childmaintenance.gsi.gov.uk/futurescheme/outboundCorrespondence/faxgateway/1.0/CaptureFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendFAX">
      <soap:operation soapAction="http://www.childmaintenance.gsi.gov.uk/futurescheme/outboundCorrespondence/faxgateway/1.0/SendFAX" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SendFaxGatewaySoap12" type="tns:SendFaxGatewaySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CaptureFile">
      <soap12:operation soapAction="http://www.childmaintenance.gsi.gov.uk/futurescheme/outboundCorrespondence/faxgateway/1.0/CaptureFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendFAX">
      <soap12:operation soapAction="http://www.childmaintenance.gsi.gov.uk/futurescheme/outboundCorrespondence/faxgateway/1.0/SendFAX" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SendFaxGateway">
    <wsdl:port name="SendFaxGatewaySoap" binding="tns:SendFaxGatewaySoap">
      <soap:address location="http://localhost:8087/SendFaxGateway.asmx" />
    </wsdl:port>
    <wsdl:port name="SendFaxGatewaySoap12" binding="tns:SendFaxGatewaySoap12">
      <soap12:address location="http://localhost:8087/SendFaxGateway.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>